<div class="footer">
	<div class="container-7">
		<div class="footer-top">
			<div class="footer-top__contact-info">
				<div class="footer-top__contact-logo">
					<img src="../assets/image/Frame.svg" alt="Frame">
				</div>
				<div class="footer-top__container-call-letter">
					<div class="footer-top__contact-call">
						<div class="contact-logo__call">
							<img src="../assets/image/call.svg" alt="call">
						</div>
						<div class="contact-logo__call-info">
							<span class="contact-logo__call-info-item-1">Контактный телефон</span>
							<a href="tel:+78123090934" class="link__duplicate contact-logo__call-info-item-2">
								+ 7 (812) 309-09-34
							</a>
							<a href="tel:+79650842909" class="link__duplicate contact-logo__call-info-item-3">
								+ 7 (965) 084-29-09
							</a>
						</div>
					</div>
					<div class="footer-top__contact-letter">
						<div class="contact-logo__letter">
							<img src="../assets/image/letter.svg" alt="letter">
						</div>
						<div class="contact-logo__letter-info">
							<span class="contact-logo__letter-info-item-1">Электронная почта</span>
							<a href="mailto:tustin78@mail.ru" class="link__duplicate contact-logo__letter-info-item-2">
								tustin78&#64;64mail.ru
							</a>
							<a href="mailto:info@tustin.ru" class="link__duplicate contact-logo__letter-info-item-3">
								info&#64;tustin.ru
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-top__questions">
				<div class="footer-top__questions-info">
					<h2>
						Остались вопросы?
					</h2>
					<p>
						Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое
						время одним щелчком мыши.
					</p>
				</div>
				<div class="footer-top__questions-mail">
					<div class="footer-top__questions-mail-container-1">
						<div class="footer-top__questions-mail-item-1">
							<img src="../assets/image/letter.svg" alt="letter">
						</div>
						<div class="footer-top__questions-mail-item-2">
							<input type="email" class="button" type="email" placeholder="Введите свою почту"
								title="Введите свою почту">
						</div>
					</div>
					<img class="footer-top__line-1" src="../assets/image/line1.svg" alt="line">
					<img class="footer-top__line-2" src="../assets/image/line2.svg" alt="line">
					<div class="footer-top__questions-mail-container-2">
						<div class="footer-top__questions-mail-item-3">
							<button class="button">Отправить</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-bottom__nav">
				<div class="footer-bottom__nav-item">
					<a href="#" class="link__duplicate">
						Главная
					</a>
				</div>
				<div class="footer-bottom__nav-item">
					<a href="#" class="link__duplicate">
						О компании
					</a>
				</div>
				<div class="footer-bottom__nav-item">
					<a href="#" class="link__duplicate">
						Каталог
					</a>
				</div>
			</div>
			<div>
				<div class="footer-bottom__social-media">
					<div class="footer-bottom__container-social-media">
						<div class="social-media__facebook">
							<a href="#">
								<img src="../assets/image/facebook.svg" alt="facebook">
							</a>
						</div>
						<div class="social-media__youtube">
							<a href="#">
								<img src="../assets/image/youtube.svg" alt="youtube">
							</a>
						</div>
						<div class="social-media__whatsapp">
							<a href="#">
								<img src="../assets/image/whatsapp.svg" alt="whatsapp">
							</a>
						</div>
					</div>
					<div class="footer-bottom__container-date">
						<span>© 2021-2022, EDE</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>