<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./app.component.css">
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
		rel="stylesheet">
	<title>Строительный сайт</title>
</head>

<body>
	<!-- <div class="header">
		<div class="container-1">
			<div class="header__left">
				<div class="header__nav-logo">
					<a href="#">
						<img src="../assets/image/Frame.svg" alt="Frame">
					</a>
				</div>
				<nav class="header__nav">
					<div class="header__nav-item">
						<a class="header__nav-link link__duplicate" routerLink="/" (click)="onClick($event)">
							<span>{{headerNavA1}}</span>
						</a>
					</div>
					<div class="header__nav-item">
						<a class="header__nav-link link__duplicate" href="#">
							<span>{{aboutCompany}}</span>
						</a>
					</div>
					<div class="header__nav-item">
						<a class="header__nav-link link__duplicate" href="#" *ngIf="isShowCotalog">
							<span>{{headerNavA3}}</span>
						</a>
					</div>
					<button class="glow-on-hover" type="button" (click)="isShowCotalog = !isShowCotalog">
						Скрыть/Показать каталог
					</button>
					<button class="glow-on-hover" type="button" (click)="changeMenuText()">
						Текст
					</button>
					<button class="glow-on-hover"  routerLink="/users" (click)="onClick($event)">
						Пользователи
					</button>
				</nav>
			</div>

			<div class="header__right">
				<div class="header__supportbynumber">
					<div class="header__phone">
						<img src="../assets/image/Phone.svg" alt="Phone">
					</div>
					<div class="header__number">
						<a class="link__duplicate" href="tel:+79650842929">
							+7 (965) 084-29-29
						</a>
					</div>
					<div class="header__heart">
						<img src="../assets/image/Heart.svg" alt="Heart">
					</div>
				</div>
				<a class="link__duplicate" href="#">
					<div class="header__basket">
						<div class="header__maskgroup">
							<img src="../assets/image/Mask group.svg" alt="Mask group">
						</div>
						<div class="header__text">
							<a class="header__text-link link__duplicate" href="#">
								Пусто
							</a>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="header__line">
			<div class="container-2">
				<div class="header__line-catalog">
					<div class="header__line-light">
						<a href="#" class="link__duplicate"><img class="header__line-img-light" src="../assets/image/light.svg"
								alt="light">
						</a>
					</div>
					<div class="header__line-nav">
						<div class="header__line-nav-item">
							<button type="button" href="#" class="button header__line-nav-button" *ngFor="let item of menuItems">
								{{item}}
							</button>
						</div>
					</div>
				</div>
				<div class="header__line-search">
					<div class="header__line-search-for-products">
						<div class="header__line-product-1">
							<input class="header__line-product-item-1" name="Search" type="text"
								placeholder="Поиск, например Круг зачистной">
							<div class="header__line-product-2">
								<img class="header__line-product-item-2" src="../assets/image/Search.svg" alt="Search">
							</div>
						</div>
					</div>
					<div class="header__line-location">
						<div class="header__line-map-pin">
							<img src="../assets/image/Map-pin.svg" alt="Map-pin">
						</div>
						<div class="header__line-city">
							Москва
						</div>
					</div>
				</div>
			</div>
		</div>

		<button class="glow-on-hover" type="button" (click)="isShowBanner = !isShowBanner">
			Скрыть/Показать банер
		</button>
		<div class="header__banner">
			<img src="../assets/image/Banner.svg" alt="Banner" *ngIf="isShowBanner">
		</div>
	</div> -->
	<app-header></app-header>
	<app-banner></app-banner>
	
	<router-outlet></router-outlet>

	<app-main></app-main>
	<!-- <div class="main">
		<div class="header__services">
			<div class="container-3">
				<div class="header__services-item">
					<div class="header__services-image">
						<img src="../assets/image/bricks.svg" alt="bricks">
					</div>
					<div class="header__services-text">
						<p class="header__services-text-item">
							<span>Большой ассортимент</span> строительных материалов всегда в наличии
						</p>
					</div>
				</div>
				<div class="header__services-item">
					<div class="header__services-image">
						<img src="../assets/image/сar.svg" alt="car">
					</div>
					<div class="header__services-text">
						<p class="header__services-text-item">
							<span>Доставка стройматериалов</span> в течении четырех часов или в любое удобное время
						</p>
					</div>
				</div>
				<div class="header__services-item">
					<div class="header__services-image">
						<img src="../assets/image/like.svg" alt="like">
					</div>
					<div class="header__services-text">
						<p class="header__services-text-item">
							<span>Многоуровневая система</span> управления качеством по стандарту ISO 9001
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="item-cards">
			<div class="container-4">
				<div class="item-cards__pagination">
					<button class="button item-cards__pagination-button" *ngFor="let item of newPages">
						{{item}}
					</button>
				</div>
				<div class="item-cards__grid">
					<div class="item-cards__grid-left">
						<div class="item-cards__grid-left-text">
							Строительный отделочный инструмент
						</div>
						<div class="item-cards__grid-left-action">
							<span>Перейти в каталог</span>
							<a href="#" class="item-cards__grid-left-action-link">
								<img src="../assets/image/arrow.svg" alt="arrow">
							</a>
						</div>
					</div>
					<div class="item-cards__grid-right">
						<div class="item-cards__grid-right-block right__block-1">
							<div class="item-cards__grid-right-text-1">
								Эмали
							</div>
							<div class="item-cards__grid-left-action">
								<span>Перейти в каталог</span>
								<a href="#" class="item-cards__grid-left-action-link">
									<img src="../assets/image/arrow.svg" alt="arrow">
								</a>
							</div>
						</div>
						<div class="item-cards__grid-right-block right__block-2">
							<div class="item-cards__grid-right-text-2">
								Лакокрасочные материалы
							</div>
							<div class="item-cards__grid-left-action">
								<span>Перейти в каталог</span>
								<a href="#" class="item-cards__grid-left-action-link">
									<img src="../assets/image/arrow.svg" alt="arrow">
								</a>
							</div>
						</div>
						<div class="item-cards__grid-right-block right__block-3">
							<div class="item-cards__grid-right-text-3">
								Пены, клеи и герметики
							</div>
							<div class="item-cards__grid-left-action">
								<span>Перейти в каталог</span>
								<a href="#" class="item-cards__grid-left-action-link">
									<img src="../assets/image/arrow.svg" alt="arrow">
								</a>
							</div>
						</div>
						<div class="item-cards__grid-right-block right__block-4">
							<div class="item-cards__grid-right-text-4">
								Розетки и выключатели
							</div>
							<div class="item-cards__grid-left-action">
								<span>Перейти в каталог</span>
								<a href="#" class="item-cards__grid-left-action-link">
									<img src="../assets/image/arrow.svg" alt="arrow">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="popular-products">
			<div class="container-5">
				<div class="popular-products__headings">
					<div class="popular-products__headings-item">
						<h1 class="popular-products__text">
							Популярные товары
						</h1>
					</div>
					<div class="popular-products__link">
						<a href="#" class="popular-products__link-item link__duplicate">
							Посмотреть все товары
						</a>
					</div>
				</div>
				<div class="popular-products__product-cards-containers">
					<div class="popular-products__product-cards">
						<div class="popular-products__product-cards-container">
							<div class="product-cards__top-discounts">
								<div class="product-cards__top">
									<div class="product-cards__top-discounts-item">
										<span>%</span>
									</div>
									<div class="product-cards__top-heart">
										<button class="button">
											<img src="../assets/image/Heart1.svg" alt="Heart">
										</button>
									</div>
								</div>
								<a href="#">
									<div class="product-cards__top-absolute-polygon-1">
										<img src="../assets/image/polygon1.svg" alt="polygon">
									</div>
								</a>
							</div>
							<div class="product-cards__main">
								<h2 class="product-cards__product-name">
									Круг зачистной 125х6х22
								</h2>
								<p class="product-cards__article">
									Артикул 00004
								</p>
								<p class="product-cards__price">
									Цена за штуку
								</p>
								<div class="product-cards__price-container">
									<p class="price-1">
										52 руб.
									</p>
									<p class="price-2">
										48 руб.
									</p>
								</div>
								<div class="product-cards__quantity-container">
									<div class="product-cards__quantity">
										<p>Количество</p>
										<div class="product-cards__add-subtract">
											<button class="button">-</button>
											<p>1</p>
											<button class="button">+</button>
										</div>
									</div>
									<div class="product-cards__basket">
										<button class="button product-cards__basket-button">В корзину</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="popular-products__product-cards">
						<div class="popular-products__product-cards-container">
							<div class="product-cards__top-discounts">
								<div class="product-cards__top">
									<div class="product-cards__top-discounts-item">
										<span>%</span>
									</div>
									<div class="product-cards__top-heart">
										<button class="button">
											<img src="../assets/image/Heart1.svg" alt="Heart">
										</button>
									</div>
								</div>
							</div>
							<div class="product-cards__main">
								<h2 class="product-cards__product-name">
									Круг зачистной 125х6х22
								</h2>
								<p class="product-cards__article">
									Артикул 00004
								</p>
								<p class="product-cards__price">
									Цена за штуку
								</p>
								<div class="product-cards__price-container">
									<p class="price-1">
										52 руб.
									</p>
									<p class="price-2">
										48 руб.
									</p>
								</div>
								<div class="product-cards__quantity-container">
									<div class="product-cards__quantity">
										<p>Количество</p>
										<div class="product-cards__add-subtract">
											<button class="button">-</button>
											<p>1</p>
											<button class="button">+</button>
										</div>
									</div>
									<div class="product-cards__basket">
										<button class="button product-cards__basket-button">В корзину</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="popular-products__product-cards">
						<div class="popular-products__product-cards-container">
							<div class="product-cards__top-discounts">
								<div class="product-cards__top">
									<div class="product-cards__top-discounts-item">
										<p>Новинка</p>
										<span>%</span>
									</div>
									<div class="product-cards__top-heart">
										<button class="button">
											<img src="../assets/image/Heart1.svg" alt="Heart">
										</button>
									</div>
								</div>
							</div>
							<div id="product-cards__main" class="product-cards__main">
								<h2 class="product-cards__product-name">
									Круг зачистной 125х6х22
								</h2>
								<p class="product-cards__article">
									Артикул 00004
								</p>
								<p class="product-cards__price">
									Цена за штуку
								</p>
								<div class="product-cards__price-container">
									<p class="price-1">
										52 руб.
									</p>
									<p class="price-2">
										48 руб.
									</p>
								</div>
								<div class="product-cards__quantity-container">
									<div class="product-cards__quantity">
										<p>Количество</p>
										<div class="product-cards__add-subtract">
											<button class="button">-</button>
											<p>1</p>
											<button class="button">+</button>
										</div>
									</div>
									<div class="product-cards__basket">
										<button class="button product-cards__basket-button">В корзину</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="popular-products__product-cards">
						<div class="popular-products__product-cards-container">
							<div class="product-cards__top-discounts">
								<div class="product-cards__top">
									<div class="product-cards__top-discounts-item">
										<span>%</span>
									</div>
									<div class="product-cards__top-heart">
										<button class="button">
											<img src="../assets/image/Heart1.svg" alt="Heart">
										</button>
									</div>
								</div>
								<a href="#">
									<div class="product-cards__top-absolute-polygon-2">
										<img src="../assets/image/polygon2.svg" alt="polygon">
									</div>
								</a>
							</div>
							<div class="product-cards__main">
								<h2 class="product-cards__product-name">
									Круг зачистной 125х6х22
								</h2>
								<p class="product-cards__article">
									Артикул 00004
								</p>
								<p class="product-cards__price">
									Цена за штуку
								</p>
								<div class="product-cards__price-container">
									<p id="price-1" class="price-1">
										52 руб.
									</p>
								</div>
								<div class="product-cards__quantity-container">
									<div class="product-cards__quantity">
										<p>Количество</p>
										<div class="product-cards__add-subtract">
											<button class="button">-</button>
											<p>1</p>
											<button class="button">+</button>
										</div>
									</div>
									<div class="product-cards__basket">
										<button class="button product-cards__basket-button">В корзину</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tenthousand-titles">
			<div class="container-6">
				<div>
					<div class="tenthousand-titles__variety-of-instruments">
						<h2>
							Более 10 000 наименований
						</h2>
						<p>
							Инструмент для вашего бизнеса, разнообразных марок
						</p>
					</div>
					<div class="tenthousand-titles-link">
						<a href="#" class="link__duplicate">
							Перейти в каталог
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="popular-products popular-products1">
			<div class="container-5">
				<div class="popular-products__headings">
					<div class="popular-products__headings-item">
						<h1 class="popular-products__text">
							Популярные товары
						</h1>
					</div>
					<div class="popular-products__link">
						<a href="#" class="popular-products__link-item link__duplicate">
							Посмотреть все товары
						</a>
					</div>
				</div>
				<div class="popular-products__product-cards-containers">
					<div class="popular-products__product-cards">
						<div class="popular-products__product-cards-container">
							<div class="product-cards__top-discounts">
								<div class="product-cards__top">
									<div class="product-cards__top-discounts-item">
										<p>Новинка</p>
									</div>
									<div class="product-cards__top-heart">
										<button class="button">
											<img src="../assets/image/Heart1.svg" alt="Heart">
										</button>
									</div>
								</div>
								<a href="#">
									<div class="product-cards__top-absolute-polygon-1">
										<img src="../assets/image/polygon1.svg" alt="polygon">
									</div>
								</a>
							</div>
							<div class="product-cards__main">
								<h2 class="product-cards__product-name">
									Круг зачистной 125х6х22
								</h2>
								<p class="product-cards__article">
									Артикул 00004
								</p>
								<p class="product-cards__price">
									Цена за штуку
								</p>
								<div class="product-cards__price-container">
									<p id="price-1" class="price-1">
										52 руб.
									</p>
								</div>
								<div class="product-cards__quantity-container">
									<div class="product-cards__quantity">
										<p>Количество</p>
										<div class="product-cards__add-subtract">
											<button class="button">-</button>
											<p>1</p>
											<button class="button">+</button>
										</div>
									</div>
									<div class="product-cards__basket">
										<button class="button product-cards__basket-button">В корзину</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="popular-products__product-cards">
						<div class="popular-products__product-cards-container">
							<div class="product-cards__top-discounts">
								<div class="product-cards__top">
									<div class="product-cards__top-discounts-item">
										<p>Новинка</p>
									</div>
									<div class="product-cards__top-heart">
										<button class="button">
											<img src="../assets/image/Heart1.svg" alt="Heart">
										</button>
									</div>
								</div>
							</div>
							<div class="product-cards__main">
								<h2 class="product-cards__product-name">
									Круг зачистной 125х6х22
								</h2>
								<p class="product-cards__article">
									Артикул 00004
								</p>
								<p class="product-cards__price">
									Цена за штуку
								</p>
								<div class="product-cards__price-container">
									<p id="price-1" class="price-1">
										52 руб.
									</p>
								</div>
								<div class="product-cards__quantity-container">
									<div class="product-cards__quantity">
										<p>Количество</p>
										<div class="product-cards__add-subtract">
											<button class="button">-</button>
											<p>1</p>
											<button class="button">+</button>
										</div>
									</div>
									<div class="product-cards__basket">
										<button class="button product-cards__basket-button">В корзину</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="popular-products__product-cards">
						<div class="popular-products__product-cards-container">
							<div class="product-cards__top-discounts">
								<div class="product-cards__top">
									<div class="product-cards__top-discounts-item">
										<p>Новинка</p>
									</div>
									<div class="product-cards__top-heart">
										<button class="button">
											<img src="../assets/image/Heart1.svg" alt="Heart">
										</button>
									</div>
								</div>
							</div>
							<div id="product-cards__main product-cards__mai1" class="product-cards__main">
								<h2 class="product-cards__product-name">
									Круг зачистной 125х6х22
								</h2>
								<p class="product-cards__article">
									Артикул 00004
								</p>
								<p class="product-cards__price">
									Цена за штуку
								</p>
								<div class="product-cards__price-container">
									<p id="price-1" class="price-1">
										52 руб.
									</p>
								</div>
								<div class="product-cards__quantity-container">
									<div class="product-cards__quantity">
										<p>Количество</p>
										<div class="product-cards__add-subtract">
											<button class="button">-</button>
											<p>1</p>
											<button class="button">+</button>
										</div>
									</div>
									<div class="product-cards__basket">
										<button class="button product-cards__basket-button">В корзину</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="popular-products__product-cards">
						<div class="popular-products__product-cards-container">
							<div class="product-cards__top-discounts">
								<div class="product-cards__top">
									<div class="product-cards__top-discounts-item">
										<p>Новинка</p>
									</div>
									<div class="product-cards__top-heart">
										<button class="button">
											<img src="../assets/image/Heart1.svg" alt="Heart">
										</button>
									</div>
								</div>
								<a href="#">
									<div class="product-cards__top-absolute-polygon-2">
										<img src="../assets/image/polygon2.svg" alt="polygon">
									</div>
								</a>
							</div>
							<div class="product-cards__main">
								<h2 class="product-cards__product-name">
									Круг зачистной 125х6х22
								</h2>
								<p class="product-cards__article">
									Артикул 00004
								</p>
								<p class="product-cards__price">
									Цена за штуку
								</p>
								<div class="product-cards__price-container">
									<p id="price-1" class="price-1">
										52 руб.
									</p>
								</div>
								<div class="product-cards__quantity-container">
									<div class="product-cards__quantity">
										<p>Количество</p>
										<div class="product-cards__add-subtract">
											<button class="button">-</button>
											<p>1</p>
											<button class="button">+</button>
										</div>
									</div>
									<div class="product-cards__basket">
										<button class="button product-cards__basket-button">В корзину</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<app-footer></app-footer>
	<!-- <div class="footer">
		<div class="container-7">
			<div class="footer-top">
				<div class="footer-top__contact-info">
					<div class="footer-top__contact-logo">
						<img src="../assets/image/Frame.svg" alt="Frame">
					</div>
					<div class="footer-top__container-call-letter">
						<div class="footer-top__contact-call">
							<div class="contact-logo__call">
								<img src="../assets/image/call.svg" alt="call">
							</div>
							<div class="contact-logo__call-info">
								<span class="contact-logo__call-info-item-1">Контактный телефон</span>
								<a href="tel:+78123090934" class="link__duplicate contact-logo__call-info-item-2">
									+ 7 (812) 309-09-34
								</a>
								<a href="tel:+79650842909" class="link__duplicate contact-logo__call-info-item-3">
									+ 7 (965) 084-29-09
								</a>
							</div>
						</div>
						<div class="footer-top__contact-letter">
							<div class="contact-logo__letter">
								<img src="../assets/image/letter.svg" alt="letter">
							</div>
							<div class="contact-logo__letter-info">
								<span class="contact-logo__letter-info-item-1">Электронная почта</span>
								<a href="mailto:tustin78@mail.ru" class="link__duplicate contact-logo__letter-info-item-2">
									tustin78&#64;64mail.ru
								</a>
								<a href="mailto:info@tustin.ru" class="link__duplicate contact-logo__letter-info-item-3">
									info&#64;tustin.ru
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-top__questions">
					<div class="footer-top__questions-info">
						<h2>
							Остались вопросы?
						</h2>
						<p>
							Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое
							время одним щелчком мыши.
						</p>
					</div>
					<div class="footer-top__questions-mail">
						<div class="footer-top__questions-mail-container-1">
							<div class="footer-top__questions-mail-item-1">
								<img src="../assets/image/letter.svg" alt="letter">
							</div>
							<div class="footer-top__questions-mail-item-2">
								<input type="email" class="button" type="email" placeholder="Введите свою почту"
									title="Введите свою почту">
							</div>
						</div>
						<img class="footer-top__line-1" src="../assets/image/line1.svg" alt="line">
						<img class="footer-top__line-2" src="../assets/image/line2.svg" alt="line">
						<div class="footer-top__questions-mail-container-2">
							<div class="footer-top__questions-mail-item-3">
								<button class="button">Отправить</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="footer-bottom__nav">
					<div class="footer-bottom__nav-item">
						<a href="#" class="link__duplicate">
							Главная
						</a>
					</div>
					<div class="footer-bottom__nav-item">
						<a href="#" class="link__duplicate">
							О компании
						</a>
					</div>
					<div class="footer-bottom__nav-item">
						<a href="#" class="link__duplicate">
							Каталог
						</a>
					</div>
				</div>
				<div>
					<div class="footer-bottom__social-media">
						<div class="footer-bottom__container-social-media">
							<div class="social-media__facebook">
								<a href="#">
									<img src="../assets/image/facebook.svg" alt="facebook">
								</a>
							</div>
							<div class="social-media__youtube">
								<a href="#">
									<img src="../assets/image/youtube.svg" alt="youtube">
								</a>
							</div>
							<div class="social-media__whatsapp">
								<a href="#">
									<img src="../assets/image/whatsapp.svg" alt="whatsapp">
								</a>
							</div>
						</div>
						<div class="footer-bottom__container-date">
							<span>© 2021-2022, EDE</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</body>

</html>